<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 定义业务日志文件 -->
    <property name="APPLICATION_LOG_FILE" value="logs/application.log"/>

    <!-- 业务日志Appender -->
    <appender name="APPLICATION_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APPLICATION_LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${APPLICATION_LOG_FILE}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 控制台Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 定义业务日志记录器 -->
    <logger name="com.npc.sync.app" level="DEBUG" additivity="false">
        <appender-ref ref="APPLICATION_LOG" />
        <appender-ref ref="CONSOLE" />
    </logger>

    <!-- 定义根日志记录器 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="APPLICATION_LOG"/>
    </root>
</configuration>
